__pycache__/
.env
notes/
app.db
test.db
temp_test.db
test_env.py
test_env2.py
test_env3.py
test_env4.py
populate_size_types.py
sqlite_data.sql
app/instance/user_measurement_input_file.py
app/user_measurements
logs/