[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-session = "*"
flask-login = "*"
flask-wtf = "*"
wtforms = "*"
alembic = "*"
ebaysdk = "*"
requests = "*"
"bs4" = "*"
"iso8601" = "*"
celery = "*"
"jinja2" = "*"

[dev-packages]
