{% extends 'layout.html' %}

{% block title %}
	{% block prefpage_title %}{% endblock %}
{% endblock %}

{% block main %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
				<ul class="navbar">
					<li class="nav-item"><a class="nav-link" href="/preferences/sizes">Clothing preferences</a></li>
					<li class="nav-item"><a class="nav-link" href="/preferences/notifications">Notifications</a></li>
					<li class="nav-item"><a class="nav-link" href="/preferences/seller_subscriptions">Seller subscriptions</a></li>
					<li class="nav-item"><a class="nav-link" href="/preferences/account">Account</a></li>
					<li class="nav-item"><a class="nav-link" href="/preferences/password">Password</a></li>
				</ul>
			</div>
			<div class="col-9">
				{% block prefpane %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}