{% extends 'preferences/layout_preferences.html' %}

{% block prefpage_title %}
	Subscribed Sellers
{% endblock %}

{% block prefpane %}
	<div class="container-fluid">
		{% if length(user_subbed) == 0 %}
			<div class="jumbotron">
				<h4>You are not subscribed to any sellers.</h4>
			</div>
		{% else %}
			<h4>Subscribed to:</h4>
			<li>
				<ul>
					{% for s in user_subbed %}
						<ul>
							{{s.s_id}}
							 [<a href="{{s.items_url}}">items</a>]
							 {% if s.store_url is not None %}[<a href="{{s.store_url">store</a>]{% endif %}
						</ul>
					{% endfor %}



	</div>


{% endblock %}