{% extends 'preferences/layout_preferences.html' %}

<!-- Rendered with user_sizes dict that contains all account sizes for each category -->

{% block prefpage_title %}
	Account Sizes
{% endblock %}

{% block prefpane %}
	<div class="container-fluid">
		{% for clothing_cat, size_cat in user_sizes.items() %}
			<div class="container-fluid">
				<form method="POST" action="/preferences/clothing">
					<h4>{{ clothing_cat|title }}</h4>
					{% for size_cat_title, sizes_dict in size_cat.items() %}
						<h5>{{ size_cat_title|title }}</h5>
						{% for sz_val, boolean in sizes_dict.sizes %}
							
							{% if boolean == true %}
								<input type="checkbox" id="{{sizes_dict.cat}}_{{ sz_val }}" name="{{sizes_dict.cat}}" value={{sz_val}} checked>
							{% else %}
								<input type="checkbox" id="{{sizes_dict.cat}}_{{ sz_val }}" name="{{sizes_dict.cat}}" value={{sz_val}}>
							{% endif %}
							<label for="{{sizes_dict.cat}}_{{ sz_val }}" >{{sz_val}}</label>
						{% endfor %}
					{% endfor %}
					<button class="btn" type="submit">Update with changes</button>
				</form>
			</div>
		{% endfor %}
	</div>
{% endblock %}
